<div id= 'page_wrapper'>
    <div id= 'content'>
            <h1>Hi, I am Yu 羽 !</h1>
            <p>Hi! 我是羽</p>
            <p>一個喜歡音樂的程式初學者</p>
            <p>喜歡雨天 貓咪 咖啡 吉他 還有寫code</p>
            <p>近期正在學習 Ruby on Rails 還有 React</p>
            <p>這是我用Ruby On Rails 寫的一個小部落格</p>
            <p>在這裡我會將自己所學整理成小文章作紀錄</p>
            <p>有時候也會分享一些生活中的故事</p>
    </div>

    <div id= 'profile_image'>
        
    </div>
</div>

