<% @posts.each do |post| %>
    <div class= 'post_wrapper'>
        <h2 class= 'title text'><%= link_to post.title, post %></h2>
        <div class= 'date text'><%= post.created_at.strftime('%B, %d, %Y') %></div>
    </div>      
<% end %>

<%= link_to 'new', new_post_path, class: 'btn', method: :get %>


    

